<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="forumEntities" connectionString="metadata=res://*/Helpers.Modelo.csdl|res://*/Helpers.Modelo.ssdl|res://*/Helpers.Modelo.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=forum;password=1234;Persist Security Info=True;database=forum&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>